.home {
  background-color: #7B5B3A;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}